#block {
    width: 200px;
    height: 200px;
    background-color: red;
    animation: test 2s;
    animation-iteration-count: 2;
}

@keyframes test {
    from {
        opacity: 1;
        width: 200px;
    }
    30% {
        width: 400px;
    }
    40% {
        width: 500px;
    }
    50% {
        opacity: 0.2;
        width: 400px;
    }
    to {
        opacity: 1;
        width: 200px;
    }
    

    
}
